#slideBox {
	padding: 0;
	margin: 0;
}

.container-fluid {
	padding: 0;
	/*margin: 0;*/
}


/*.container{
	margin: 0;
	padding: 0;
}*/

.navbar {
	border-radius: 0;
	margin-bottom: 0;
}

#slideBox img {
	width: 100%;
}

.header {
	background-color: #222;
}

.header a {
	color: #fff;
}

.second {
	padding: 30px 0;
	background: #444;
}

.second dt {
	color: #4d4d4d;
	font-size: 32px;
}

.second dl {
	color: #4d4d4d;
}

.second .more {
	color: #fff;
	padding: 5px 10px;
	font-weight: bold;
	border: 1px solid #fff;
}

.navbar-inverse {
	border-color: transparent;
}

.three {
	background: url(../images/bg.png) no-repeat;
	background-size: 100% 100%;
	padding: 20px 0;
}

.three h3 {
	color: #ffd20a;
	margin-bottom: 20px;
}

.three p {
	line-height: 2.5;
	color: #fff;
}

.four {
	background: #444;
}

.four h3 {
	padding: 10px 0;
	border-bottom: 2px solid #ffd20a;
}

.four a {
	position: relative;
}

.four .on {
	color: #ffd20a;
	font-weight: bold;
}

.four .on:after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -12px;
	transform: translateX(-50%);
	z-index: 0;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-bottom-color: #ffd20a;
}

.four h3 a {
	margin-right: 10px;
	color: #fff;
}

.four .col-md-6 {
	margin-bottom: 20px;
	padding-left: 0;
}

.four .col-sm-4 {
	padding-left: 0;
}

.four img {
	width: 100%;
}

.four a {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}

.four a,
.four p {
	color: #fff;
}

.foot {
	padding: 20px 0;
	background: #2d2d2d;
}

.foot h3 {
	font-size: 18px;
	color: #fff;
	font-weight: bold;
}

.foot ul,
.foot li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.foot li {
	padding: 4px 0;
}

.foot a,
.foot span,
.foot p {
	color: #fff;
}

.second .row {
	display: flex;
}

@media screen and (max-width: 768px) {
	.second .row {
		display: block;
	}
}


/*公用样式*/